<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ bundle.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="bundle.photoUrl" alt="{{ bundle.title }}">
  <mat-card-content>
    <p>Price: ${{ bundle.price }}</p>
    <p>You Save: ${{bundle.youSave}}</p>
    <p>Rating: {{ bundle.rating }}</p>
    <p>{{ bundle.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">Buy Now</button>
  </mat-card-actions>
</mat-card>
